!!! 5
html(lang='zh')
  head
    include ../includes/head
  body
    include ../includes/top
    .container-fluid
      .row-fluid
        include ../includes/left
        noscript
          .alert.alert-block.span10
            h4.alert-heading 警告!
            p
              | 请启用
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              | 后你才能使用本站点.
        #content.span10
          // content starts
          div
            ul.breadcrumb
              li
                a(href='#') 主页
                span.divider /
              li
                a(href='#') 用户注册
          .row-fluid.sortable
            .box.register
              .box-header.well(data-original-title='data-original-title')
                h2
                  i.icon-edit
                  | 用户注册
                .box-icon
                  //a.btn.btn-setting.btn-round(href='#')
                  //i.icon-cog
                  a.btn.btn-minimize.btn-round(href='#')
                    i.icon-chevron-up
                  a.btn.btn-close.btn-round(href='#')
                    i.icon-remove
              .box-content
                form.form-horizontal(action='registerAction', method='post')
                  fieldset
                    legend 请填写用户信息
                    .control-group
                      label#register.control-label <dfn>*</dfn>用户名：
                      .controls
                        input#username(name='username', type='text', value='')
                    .control-group
                      label#register.control-label(style='margin-left: 10px;') <dfn>*</dfn>密码：
                      .controls
                        input#password(name='password', type='password', value='')
                    .control-group.warning
                      label#register.control-label(for='inputWarning', style='margin-left: -16px;') <dfn>*</dfn>确认密码：
                      .controls
                        input#rpassword(name='rpassword', type='password', value='')
                    .control-group
                      label#register.control-label(style='margin-left: 10px;') <dfn>*</dfn>邮箱：
                      .controls
                        input#username(name='username', type='text', value='')
                    #register.form-actions
                      button.btn.btn-primary(type='submit') 保存
                      button.btn(type='reset', style='margin-left: 5px;') 取消
      hr
      #myModal.modal.hide.fade
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h3 设置
        .modal-body
          p 有待修改...
        .modal-footer
          a.btn(href='#', data-dismiss='modal') 关闭
          a.btn.btn-primary(href='#') 保存
      footer
        p.pull-left
          | ©
          a(href='http://usman.it', target='_blank') Muhammad Usman
          | 2012
        p.pull-right
          | Powered by:
          a(href='http://usman.it/free-responsive-admin-template') Charisma
    //外部脚本
    include ../includes/script
