!!! 5
html(lang='zh')
  head
    include ../includes/head
  body
    include ../includes/top
    .container-fluid
      .row-fluid
        include ../includes/left
        noscript
          .alert.alert-block.span10
            h4.alert-heading 警告!
            p
              | 请启用
              a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
              | 后你才能使用本站点.
        #content.span10
          // content starts
          div
            ul.breadcrumb
              li
                a(href='#') 主页
                span.divider /
              li
                a(href='#') 表单
          .row-fluid.sortable
            .box.span12
              .box-header.well(data-original-title='data-original-title')
                h2
                  i.icon-edit
                  | 添加用户
                .box-icon
                  a.btn.btn-setting.btn-round(href='#')
                    i.icon-cog
                  a.btn.btn-minimize.btn-round(href='#')
                    i.icon-chevron-up
                  a.btn.btn-close.btn-round(href='#')
                    i.icon-remove
              .box-content
                form.form-horizontal
                  fieldset
                    legend 在下面添加用户属性
                    .control-group
                      label.control-label(for='typeahead') 自动完成框
                      .controls
                        input#typeahead.span6.typeahead(type='text', data-provide='typeahead', data-items='4', data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]')
                        p.help-block 开始输入后会提示自动输入!
                    .control-group
                      label.control-label(for='date01') 日期输入
                      .controls
                        input#date01.input-xlarge.datepicker(type='text', value='02/16/12')
                    .control-group
                      label.control-label(for='fileInput') 文件输入
                      .controls
                        input#fileInput.input-file.uniform_on(type='file')
                    .control-group
                      label.control-label(for='textarea2') 文本区域
                      .controls
                        textarea#textarea2.cleditor(rows='3')
                    .form-actions
                      button.btn.btn-primary(type='submit') 保存
                      button.btn(type='reset') 取消
      hr
      #myModal.modal.hide.fade
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h3 设置
        .modal-body
          p 有待修改...
        .modal-footer
          a.btn(href='#', data-dismiss='modal') 关闭
          a.btn.btn-primary(href='#') 保存
      footer
        p.pull-left
          | ©
          a(href='http://usman.it', target='_blank') Muhammad Usman
          | 2012
        p.pull-right
          | Powered by:
          a(href='http://usman.it/free-responsive-admin-template') Charisma
    //外部脚本
    include ../includes/script
